.sidebar {
    display: none;
}

.sidebar.open {
    position: fixed;
    display: grid;
    grid-template-rows: 63px 1fr;
    width: 317px;
    height: 100%;
    background-color: white;
    z-index: 4;
    font-size: 22px;
    font-weight: 600;
}

.background {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.3);
}

.nav {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

.nav a {
    margin-left: 70px;
}

.nav a:hover {
    color: #58ACFF;
}

.nav a.active {
    margin-bottom: 40px;
    color: #0059B2;
    text-decoration: underline;
}
.close {
    width: 24px;
    height: 24px;
    justify-self: end;
    align-self: center;
    border: none;
    background-color: white;
    margin: 16px 24px 0 0;
}

.close img {

}
