.radio {
    display: flex;
    flex-direction: column;
    width: 20px;
    height: 20px;
}

.radio::before {

}


.radio:checked::before {
    color: black;
}

.label {
    display: flex;
    column-gap: 13px;
    margin-bottom: 21px;
    align-items: center;
}

.label input {
    accent-color: black;
}

.options {
    font-size: 16px;
}
